<div *ngIf="product != null" class="product-item">
  <div class="product-image">
    <img [src]="product.coverImgUrl" alt="{{ product.title }}" />
  </div>

  <div class="product-details">
    <h2 class="product-title">{{ product.title }}</h2>
    <p class="product-description">{{ product.description }}</p>

    <div class="product-info">
      <span class="product-price">${{ product.price }}</span>
      <span
        class="product-availability"
        *ngIf="product.stock > 0; else outOfStock"
      >
        In Stock: {{ product.stock }}
      </span>
      <ng-template #outOfStock>
        <span class="out-of-stock">Out of Stock</span>
      </ng-template>
    </div>

    <div class="product-authors">
      <h3>Authors:</h3>
      <ul>
        <li *ngFor="let author of product.authors">{{ author.firstName }}</li>
      </ul>
    </div>

    <div class="product-categories">
      <h3>Categories:</h3>
      <ul>
        <li *ngFor="let category of product.categories">{{ category.name }}</li>
      </ul>
    </div>

    <div class="product-publisher">
      <h3>Publisher:</h3>
      <p>{{ product.publisher.firstName }}</p>
    </div>
  </div>
</div>
<div *ngIf="product == null">
  <h1>No products found!</h1>
</div>
