<div class="checkout-container">
  <h2>{{ "CHECKOUT.TITLE" | translate }}</h2>

  <div class="steps">
    <div
      [class.active]="currentStep === 1"
      [class.completed]="currentStep > 1"
      [class.inactive]="currentStep < 1"
      >
      <div class="step-icon">📝</div>
      <div class="step-text">
        {{ "CHECKOUT.PERSONAL_INFO.TITLE" | translate }}
      </div>
    </div>

    <div
      [class.active]="currentStep === 2"
      [class.completed]="currentStep > 2"
      [class.inactive]="currentStep < 2"
      >
      <div class="step-icon">🚚</div>
      <div class="step-text">{{ "CHECKOUT.DELIVERY.TITLE" | translate }}</div>
    </div>

    <div
      [class.active]="currentStep === 3"
      [class.completed]="currentStep > 3"
      [class.inactive]="currentStep < 3"
      >
      <div class="step-icon">💳</div>
      <div class="step-text">{{ "CHECKOUT.PAYMENT.TITLE" | translate }}</div>
    </div>
  </div>

  @if (currentStep === 1) {
    <app-personal-info
      (personalInfoChange)="personalInfo = $event"
    ></app-personal-info>
  }

  @if (currentStep === 2) {
    <app-delivery-option
      (deliveryOptionChange)="deliveryOption = $event"
    ></app-delivery-option>
  }

  @if (currentStep === 3) {
    <app-payment
      (paymentMethodChange)="paymentMethod = $event"
    ></app-payment>
  }

  <div class="buttons">
    @if (currentStep > 1) {
      <button (click)="previousStep()">
        {{ "CHECKOUT.BUTTONS.BACK" | translate }}
      </button>
    }
    @if (currentStep < 3) {
      <button (click)="nextStep()">
        {{ "CHECKOUT.BUTTONS.NEXT" | translate }}
      </button>
    }
    @if (currentStep === 3) {
      <button (click)="submitOrder()">
        {{ "CHECKOUT.BUTTONS.BUY" | translate }}
      </button>
    }
  </div>
</div>
