<nav class="profile-options-menu" *ngIf="isOpen">
  <ul>
    <li>
      <button class="menu-item" (click)="goToOrders()">
        {{ "HEADER.ORDERS" | translate }}
      </button>
    </li>

    <li>
      <button class="menu-item" (click)="goToProfile()">
        {{ "HEADER.INFO" | translate }}
      </button>
    </li>

    <li>
      <button class="menu-item" (click)="goToEditProfile()">
        {{ "HEADER.EDIT" | translate }}
      </button>
    </li>

    <li>
      <button class="menu-item" (click)="logout()">
        {{ "HEADER.LOGOUT" | translate }}
      </button>
    </li>
  </ul>
</nav>
