<header>
  <nav>
    <img
      class="nav-logo"
      src="assets/img/bookazia_banner.png"
      alt="Het logo van de winkel"
      (click)="goToMenu('home')"
    />

    <input
      type="text"
      name="search_bar"
      class="nav-search_input"
      placeholder="Search..."
      (keydown.enter)="navigateFromInput($event)"
    />
    <section class="nav-button-section">
      <button class="nav-favorite_menu" (click)="goToMenu('saved')">
        <img
          class="nav-favorite_picture"
          src="assets/img/favorite.svg"
          alt="Favorite icon"
        />
        <p>Favorites</p>
      </button>
      <button class="nav-shopping_menu" (click)="goToMenu('cart')">
        <img
          class="nav-cart_picture"
          src="assets/img/shopping_cart_icon.svg"
          alt="Shopping cart icon"
        />
        <p>Shopping cart</p>
      </button>
      <button class="nav-profile_menu" (click)="goToMenu('login')">
        <img
          class="nav-profile_picture"
          src="assets/img/default_profile_picture.svg"
          alt="Profile icon"
        />
        <p>Login</p>
      </button>
    </section>
  </nav>
  <app-search-filters class="nav-search_options"></app-search-filters>
</header>
