<header>
  <nav>
    <img
      class="nav-logo"
      src="assets/img/bookazia_banner.png"
      alt="Logo of the store"
      (click)="goToMenu('home')"
    />
    <input
      #search_bar
      type="search"
      name="search_bar"
      [(ngModel)]="searchQuery"
      class="nav-search_input"
      placeholder="Search..."
      (keydown.enter)="navigateFromQuery(searchQuery, search_bar)"
    />
    <section class="nav-button-section">
      <button class="nav-favorite_menu" (click)="goToMenu('saved')">
        <img
          class="nav-favorite_picture"
          src="assets/img/favorite.svg"
          alt="Icon of an heart"
        />
        <p>Favorites</p>
      </button>
      <button class="nav-shopping_menu" (click)="goToMenu('cart')">
        <img
          class="nav-cart_picture"
          src="assets/img/shopping_cart_icon.svg"
          alt="Icon of a shopping cart"
        />
        <p>Cart</p>
      </button>
      <button
        *ngIf="!isLoggedIn"
        class="nav-profile_menu"
        (click)="goToMenu('login')"
      >
        <img
          class="nav-profile_picture"
          src="assets/img/default_profile_picture.svg"
          alt="Icon of an empty profile picture"
        />
        <p>Login</p>
      </button>
      <button *ngIf="isLoggedIn" class="nav-profile_menu" (click)="onLogout()">
        <img
          class="nav-profile_picture"
          src="assets/img/default_profile_picture.svg"
          alt="Profile icon"
        />
        <p>Account</p>
      </button>
    </section>
  </nav>
  <app-search-filters class="nav-search_options"></app-search-filters>
</header>
