html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background-color: #4caf50; /* Green */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.error-snackbar {
  background-color: #f44336; /* Red */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.info-snackbar {
  background-color: #2196f3; /* Blue */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Position the snack bar at the top */
.mat-snack-bar-container {
  top: 20px !important;
  bottom: auto !important;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  border-radius: 4px;
}
