<div *ngIf="book == null">
  <p>{{ "PRODUCTS.LOADING_ERROR" | translate }}</p>
</div>
<div *ngIf="book != null" class="book-card">
  <img
    [src]="book.coverImgUrl"
    alt="{{ book.title }} cover"
    class="book-cover"
  />
  <div class="book-details">
    <h2 class="book-title">{{ book.title }}</h2>
    <p *ngFor="let author of book.authors" class="book-authors">
      {{ author.firstName }} {{ author.lastName }}
    </p>
    <p class="book-price">
      {{ "PRODUCTS.PRICE" | translate }}: &euro;{{ book.price }}
    </p>
    <p
      class="book-stock"
      [ngClass]="{
        'in-stock': book.stock > 0,
        'out-of-stock': book.stock === 0
      }"
    >
      {{
        book.stock > 0
          ? ("PRODUCTS.IN_STOCK" | translate)
          : ("PRODUCTS.OUT_OF_STOCK" | translate)
      }}
    </p>
    <p class="book-isbn">ISBN: {{ book.isbn }}</p>
    <p class="book-publication">
      {{ "PRODUCTS.PUBLICATION_DATE" | translate }}: {{ book.publicationDate }}
    </p>
    <p class="book-language">
      {{ "PRODUCTS.ORIGINAL_LANGUAGE" | translate }}:
      {{ book.originalLanguage }}
    </p>
    <p class="book-publisher">
      {{ "PRODUCTS.PUBLISHER" | translate }}: {{ book.publisher.firstName }}
      {{ book.publisher.lastName }}
    </p>
    <div class="book-categories">
      {{ "PRODUCTS.CATEGORIES" | translate }}:
      <span *ngFor="let category of book.categories" class="category">{{
        getLocalizedCategoryName(category)
      }}</span>
    </div>

    <p class="book-description">{{ getLocalizedDescription() }}</p>

    <button class="add-to-cart" (click)="addToCart(book)">
      {{ "PRODUCTS.ADD_TO_CART" | translate }}
    </button>
    <button class="add-to-favorites" (click)="addToFavorites(book)">
      {{ "PRODUCTS.ADD_TO_FAVORITES" | translate }}
    </button>
  </div>
</div>
