<div class="step">
  <h3>{{ "CHECKOUT.PAYMENT.TITLE" | translate }}</h3>
  <label>
    <input
      type="radio"
      name="payment"
      value="CREDIT_CARD"
      [(ngModel)]="selectedPaymentMethod"
      (ngModelChange)="onPaymentMethodChange()"
    />
    Credit Card
  </label>
  <label>
    <input
      type="radio"
      name="payment"
      value="PAYPAL"
      [(ngModel)]="selectedPaymentMethod"
      (ngModelChange)="onPaymentMethodChange()"
    />
    PayPal
  </label>
  <label>
    <input
      type="radio"
      name="payment"
      value="IDEAL"
      [(ngModel)]="selectedPaymentMethod"
      (ngModelChange)="onPaymentMethodChange()"
    />
    Ideal
  </label>
  <label>
    <input
      type="radio"
      name="payment"
      value="BANK_TRANSFER"
      [(ngModel)]="selectedPaymentMethod"
      (ngModelChange)="onPaymentMethodChange()"
    />
    Bank Transfer
  </label>
</div>
