<section class="registration">
  <p (click)="goBack()">&lt; Go back</p>
  <div *ngIf="errorMessage != null" class="error-message">
    <img
      class="error-icon"
      src="assets/img/error_icon.svg"
      alt="Icon of an warning symbol"
    />
    <p>{{ errorMessage }}</p>
  </div>
  <form>
    <section class="form-login-details">
      <h1>Login details:</h1>
      <label for="email">Email *</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        autocomplete="email"
        placeholder="example@email.com"
      />
      <label for="password">Password *</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        autocomplete="new-password"
        placeholder="Password123!"
      />
    </section>
    <section class="form-notrequired">
      <h1>User details:</h1>
      <label for="first_name">First name *</label>
      <input
        id="first_name"
        type="text"
        [(ngModel)]="firstName"
        name="first_name"
        required
        autocomplete="given-name"
        placeholder="John"
      />
      <label for="middle_name">Middle name</label>
      <input
        id="middle_name"
        type="text"
        [(ngModel)]="middleName"
        name="middle_name"
        autocomplete="additional-name"
        placeholder="William"
      />
      <label for="last_name">Last name *</label>
      <input
        id="last_name"
        type="text"
        [(ngModel)]="lastName"
        name="last_name"
        required
        autocomplete="family-name"
        placeholder="Doe"
      />
    </section>
    <button (click)="register()" type="submit" class="submit-button">
      Submit
    </button>
  </form>
</section>
