<section class="registration">
  <p (click)="goBack()">&lt; Go back</p>
  <form>
    <section class="form-login-details">
      <h1>Login details:</h1>
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        autocomplete="email"
        placeholder="example@email.com"
      />
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        autocomplete="new-password"
        placeholder="Password123!"
      />
    </section>
    <section class="form-notrequired">
      <h1>User details:</h1>
      <label for="first_name">First name:</label>
      <input
        id="first_name"
        type="text"
        [(ngModel)]="firstName"
        name="first_name"
        required
        autocomplete="given-name"
        placeholder="John"
      />
      <label for="middle_name">Middle name:</label>
      <input
        id="middle_name"
        type="text"
        [(ngModel)]="middleName"
        name="middle_name"
        autocomplete="additional-name"
        placeholder="William"
      />
      <label for="last_name">Last name:</label>
      <input
        id="last_name"
        type="text"
        [(ngModel)]="lastName"
        name="last_name"
        required
        autocomplete="family-name"
        placeholder="Doe"
      />
      <label for="phone_number">Phone number:</label>
      <input
        id="phone_number"
        type="tel"
        [(ngModel)]="phoneNumber"
        name="phone_number"
        required
        autocomplete="tel"
        placeholder="+06 12345678"
      />
      <label for="street_address">Street address:</label>
      <input
        id="street_address"
        type="text"
        [(ngModel)]="address"
        name="street_address"
        required
        autocomplete="address-line1"
        placeholder="Street name 1"
      />
      <label for="city">City:</label>
      <input
        id="city"
        type="text"
        [(ngModel)]="city"
        name="city"
        required
        autocomplete="address-level2"
        placeholder="City"
      />
      <label for="zip_code">Zip code:</label>
      <input
        id="zip_code"
        type="text"
        [(ngModel)]="zipCode"
        name="zip_code"
        required
        autocomplete="postal-code"
        placeholder="1234 AB"
      />
    </section>
    <button (click)="onSubmit()" type="submit" class="submit-button">
      Submit
    </button>
  </form>
</section>
