<section class="language-switch">
  <div class="language-dropdown">
    <button
      class="language-toggle"
      (click)="toggleDropdown($event)"
      aria-label="Change language"
    >
      <img
        class="current-flag"
        [src]="'assets/img/flag-' + currentLang() + '.png'"
        [alt]="currentLang() === 'en' ? 'English flag' : 'Nederlandse vlag'"
      />
      <span class="current-language">
        {{ currentLang() === "en" ? "English" : "Nederlands" }}
      </span>
      <span class="dropdown-arrow">&#9662;</span>
      <span class="smaller-language">
        {{ currentLang() === "en" ? "EN" : "NL" }}
        <span class="arrow">&#9662;</span>
      </span>
    </button>

    <div class="language-options" [class.open]="isOpen">
      <button
        class="language-option"
        [class.active]="currentLang() === 'en'"
        (click)="switchLanguage('en')"
      >
        <img src="assets/img/flag-en.png" alt="English flag" />
        <span>{{ "HEADER.switchLanguage.EN" | translate }}</span>
      </button>

      <button
        class="language-option"
        [class.active]="currentLang() === 'nl'"
        (click)="switchLanguage('nl')"
      >
        <img src="assets/img/flag-nl.png" alt="Nederlandse vlag" />
        <span>{{ "HEADER.switchLanguage.NL" | translate }}</span>
      </button>
    </div>
  </div>
</section>
