<section *ngIf="product != null" class="product-item">
  <div class="product-image">
    <img [src]="product.coverImgUrl" alt="{{ product.title }}" />
  </div>
  <div class="product-details">
    <h2 class="product-title">{{ product.title }}</h2>
    <ul class="product-info">
      <li *ngFor="let author of product.authors">
        <strong>Author:</strong> {{ author.firstName }} {{ author.lastName }}
      </li>
      <li><strong>Language:</strong> {{ product.originalLanguage }}</li>
      <li><strong>ISBN:</strong> {{ product.isbn }}</li>
      <li><strong>Publication Date:</strong> {{ product.publicationDate }}</li>
      <li><strong>Pages:</strong> {{ product.pages }}</li>
      <li>
        <strong>Stock: </strong>
        <span *ngIf="product.stock > 0; else outOfStock">{{
          product.stock
        }}</span>
        <ng-template #outOfStock
          ><span class="out-of-stock">Out of Stock</span></ng-template
        >
      </li>
      <li><strong>Price:</strong> ${{ product.price }}</li>
    </ul>
    <button
      class="add-to-cart-btn"
      [disabled]="product.stock === 0"
      [ngClass]="{ disabled: product.stock === 0 }"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>
  </div>
</section>
<div *ngIf="product == null">
  <h1>No products found!</h1>
</div>
