<footer class="footer">
  <section class="container">
    <article class="footer-section">
      <h3>About Us</h3>
      <p>
        Welcome to Bookazia, your go-to online bookstore for the best reads!
        Created by Cas Janssen a student at Leiden University of Applied
        Sciences. It is an fullstack application built with Angular, Spring Boot
        and PostgreSQL.
      </p>
    </article>

    <nav class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><p (click)="navigateTo('home')">Home</p></li>
        <li><p (click)="navigateTo('faq')">FAQ</p></li>
        <li><p (click)="navigateTo('legal/terms')">Terms of Service</p></li>
        <li><p (click)="navigateTo('legal/privacy')">Privacy Policy</p></li>
      </ul>
    </nav>

    <address class="footer-section">
      <h3>Contact</h3>
      <p>
        Email:
        <a href="mailto:s1156741@student.hsleiden.nl"
          >s1156741&#64;student.hsleiden.nl</a
        >
      </p>
      <p>
        Address:
        <a href="https://maps.app.goo.gl/Q5gZhMBXYr1G4cYn9" target="_blank"
          >Zernikedreef 11 Leiden</a
        >
      </p>
    </address>
  </section>

  <section class="footer-bottom">
    <p>&copy; 2025 Bookazia. All Rights Reserved.</p>
  </section>
</footer>
